
<h1 class= "text-center"><%= @article.title %></h1>

        <div class=" container" >
            <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header">
            <%= @article.user.username %>
            <%= link_to gravatar_for(@article.user, size: 50), user_path(@article.user)  %>
            <% if @article.categories.any? %>
            <div class="mt-2">
            <%= render @article.categories , status: :unprocessable_entity %>
            </div>
            <% end %>
            </div>
            <div class="card-body">
                <div class="card-text text-left "><%= simple_format(@article.description)  %></div>
                <% if logged_in? && @article.user == current_user %>
                    <%= link_to 'Edit', edit_article_path(@article) , class: "btn btn-outline-success"%>
                    <%= link_to 'Delete' , article_path(@article) ,data: {turbo_method: :delete , turbo_confirm: "Are you sure?"} ,class: "btn btn-outline-danger" %>
                <%end  %>
                    

            </div>
            <div class="card-footer text-muted">
            <%= time_ago_in_words(@article.created_at) %>
            </div>
            </div>
        </div>
        <br>
        <br>
