<h1 class = "text-center">Alpha Bloggers</h1>

<div class="flickr_pagination mb-4"> 
    <%= will_paginate @users, :container => false %>
</div>



    <% @users.each do|user| %>
        <div class=" container" >
            <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header">
                <%= link_to "#{user.username}", user_path(user), class: "link-primary link-underline-opacity-0 uppercase text-uppercase " %>
            </div>
            <div class="card-body">
                <%= gravatar_for(user , size: 200) %>
                <p class="text-uppercase font-weight-bold">Article: <%= user.articles.length %></p>
                <%= link_to 'View Profile', user_path(user), class: "btn btn-outline-success" %>
                <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-outline-info" %>
            </div>
            <div class="card-footer text-muted">
            <small> Joined <%= time_ago_in_words(user.created_at) %> ago</small>
                
            </div>
            </div>
        </div>
    <% end %>
</div>
